src/*.exe
src/auroracoin
src/auroracoind
src/test_auroracoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.auroracoin

# Compilation and Qt preprocessor part
*.qm
Makefile
auroracoin-qt
Auroracoin-Qt.app

# Unit-tests
Makefile.test
auroracoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
